<a href="https://colab.research.google.com/github/nkorzounUD/DSPS_NKorzoun/blob/main/LABS/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cd /content/drive/MyDrive/

/content/drive/MyDrive

In [ ]:
ls

'An Overview of Atmospheric Cherenkov Telescopes.gslides'
'Colab Notebooks'/
 DSPS/
 Fermi_GRB_Animation_1080.mp4
 HolderGroup@
'Lab Dev 2021'/
 Research/
'SCEN101F21_TEAM FOLDER'@
 Untitled0.ipynb

In [ ]:
cd DSPS

/content/drive/My Drive/DSPS

In [ ]:
!mkdir .kaggle

In [ ]:
ls -a

.kaggle/

In [ ]:
!chmod 600 .kaggle/kaggle.json

In [ ]:
import json
env = json.load(open(".kaggle/kaggle.json", "r"))

In [ ]:
import os

In [ ]:
os.environ["KAGGLE_USERNAME"] = env["username"]
os.environ["KAGGLE_KEY"] = env["key"]

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-11-10 18:11:20          15438
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           9383
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           4197
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3428
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           2587
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1550
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1814
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1072
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1262
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            474
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            456
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1001
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            198
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            175
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            156
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            225
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         157337
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         148041
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          29494
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          24612

In [ ]:
!pwd

/content/drive/My Drive/DSPS

In [ ]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv to /content/drive/My Drive/DSPS
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 6.50MB/s]
Downloading train.csv to /content/drive/My Drive/DSPS
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 8.35MB/s]
Downloading gender_submission.csv to /content/drive/My Drive/DSPS
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 830kB/s]

In [ ]:
!ls

gender_submission.csv  test.csv  train.csv

In [ ]:
!mkdir titanic

In [ ]:
!mv *.csv titanic/

In [ ]:
!pwd

/content/drive/My Drive/DSPS

In [ ]:
cd titanic

/content/drive/My Drive/DSPS/titanic

In [ ]:
ls

gender_submission.csv  test.csv  train.csv

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("train.csv")

In [ ]:
titanic.shape

(891, 12)

In [ ]:
titanic.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [ ]:
titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
mytitanic = titanic[["Age", "Sex", "Pclass","Survived"]]

In [ ]:
mytitanic.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
mytitanic

      Age     Sex  Pclass  Survived
0    22.0    male       3         0
1    38.0  female       1         1
2    26.0  female       3         1
3    35.0  female       1         1
4    35.0    male       3         0
..    ...     ...     ...       ...
885  39.0  female       3         0
886  27.0    male       2         0
887  19.0  female       1         1
889  26.0    male       1         1
890  32.0    male       3         0

[714 rows x 4 columns]

In [ ]:
mytitanic["gender"] = mytitanic.Sex.map({'male':0,'female':1})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
from sklearn import tree

In [ ]:
t1 = tree.DecisionTreeClassifier(max_depth=3).fit(mytitanic[["Age","gender","Pclass"]], mytitanic[["Survived"]])

In [ ]:
t1.score(mytitanic[["Age","gender","Pclass"]],mytitanic[["Survived"]])

0.8081232492997199

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(mytitanic[["Age","gender","Pclass"]], mytitanic[["Survived"]], test_size=0.2)

In [ ]:
t2 = tree.DecisionTreeClassifier(max_depth=3).fit(X_train, y_train)

In [ ]:
t2.score(X_train, y_train), t2.score(X_test, y_test)

(0.8108581436077058, 0.7832167832167832)